{% extends 'recipe/base.html' %}

{% block title %}Добавить рецепт{% endblock %}

{% block body %}

  <h1>Добавить новый рецепт</h1>

    <form method="POST" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Добавить</button>
    </div>

       <div>
        <a href="{% url 'recipe:home' %}" class="btn btn-secondary">Вернуться на главную</a>
    </div>
</form>


{% endblock %}


