{% extends 'recipe/base.html' %}
{% load static %}
{% block title %}Список рецептов{% endblock %}
{% block body %}
    <div class="recipe-list">
        <header class="header">
            <h1 class="h1">Добро пожаловать на сайт рецептов!</h1>
            {% if username %}
                <p> Привет, {{username}}!</p>
            {% endif %}
            <nav class="navigation container">
                <a href="{% url 'recipe:login'%}"><button class="butt1">Вход</button></a>
                <a href="{% url 'recipe:register'%}"><button class="butt1">Регистрация</button></a>
                <a href="{% url 'recipe:logout'%}"><button class="butt1">Выход</button></a>
            </nav>
        </header>

        <!-- Форма выбора категории -->
        <form action="#" method="GET">
            <p class="input">
                Категория:
                <select name="category" id="category">
                    <option value="">---</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == selected_category_id %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </p>
            <button class="btn btn-secondary">Найти</button>
        </form>

        <!-- Сетка рецептов, отображающихся в два столбца -->
        <div class="recipe-grid">
            {% for recipe in recipe %}
                <div class="recipe-item">
                    <a href="{% url 'recipe:recipe_detail' recipe.pk %}">
                        <h3 class="title">{{ recipe.title }}</h3>
                    </a>
                    {% if recipe.image %}
                        <img class="recipe-item img" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                    {% else %}
                        <p>Без изображения</p>
                    {% endif %}
                    {% if recipe.ingredients %}
                        <p class="recipe-card"><strong>Ингредиенты:</strong> {{ recipe.ingredients }} </p>
                    {% else %}
                        <p><strong>Ингредиенты:</strong> Не указаны</p>
                    {% endif %}
                </div>
            {% empty %}
                <p> Нет доступных рецептов. </p>
            {% endfor %}
        </div>

        <div class="button-container">
            <a href="{% url 'recipe:add_recipe'%}" class="btn btn-secondary">Добавить рецепт</a>
            <a href="{% url 'recipe:add_ingredient'%}" class="btn btn-secondary">Добавить ингредиент</a>
        </div>
    </div>
{% endblock %}
